{
	"env": {
		"build": {
			"presets": [
				[
					"env",
					{
						"modules": false,
						"targets": {
							"browsers": ["> 5%"]
						}
					}
				]
			]
		},
		"test": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"browsers": ["> 5%"]
						}
					}
				]
			]
		}
	}
}
